/* dm-sans-latin-wght-normal */
@font-face {
  font-family: 'DM Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* dm-sans-latin-ext-wght-normal */
@font-face {
  font-family: 'DM Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/latin-ext-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

* {
  box-sizing: border-box;
}

body {
  --background-primary: #fff;
  --font-color-primary: #222;
  --elevation-background: #fff;
  --code-background: #f3f3f3;
  --brand-color: #2E3ECC;
  --code-block-background: #111;
  --link-color: #4b5cf5;
  --font-family-primary: 'DM Sans Variable', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --content-max-width: 800px;
  --content-padding-x: 24px;
  --font-normal: 1.2rem;
  --font-normal-line-height: 2.4rem;
  --font-large: 1.4rem;
  --font-large-line-height: 2.8rem;
  --font-small: 1rem;
  --font-small-line-height: 2rem;
  font-family: var(--font-family-primary);
}

body.dark {
  --background-primary: #121212;
  --font-color-primary: #ccc; 
  --elevation-background: #1D1D1D;
  --code-background: #222;
  --brand-color: #737fe2;
  --code-block-background: #1f1f1f;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background-primary);
  color: var(--font-color-primary);
  font-size: var(--font-normal);
  line-height: var(--font-normal-line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-primary);
  color: var(--font-color-primary);
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s ease;
}

a:hover, a:focus-within {
  border-bottom: 2px solid var(--link-color);
}

a.no-underline {
  border-bottom: 0px;
}

a.no-underline:hover, a.no-underline:focus-within {
  border-bottom: 0px;
}

.content-width {
  max-width: var(--content-max-width);
  margin: auto;
  position: relative;
  padding: 0px var(--content-padding-x);
}

.header {
  width: 100%;
  padding-top: 160px;
  text-align: center;
}

.shadow {
  box-shadow: 0 4px 12px -2px #0005;
}

.shadow-light {
  box-shadow: 0 2px 6px -1px #0003;
}

.header > h1 {
  margin: 10px 0px;
  font-size: 4.2rem;
  line-height: 6rem;
}

.header-bio {
  padding: 20px 0px;
}

hr {
  border-color: var(--code-background);
  opacity: .3;
}

body.dark hr {
  border-color: #333;
  opacity: 1;
}

body.blog-page header {
  padding: 50px 0px;
}

body.blog-page header .brand-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-color-primary);
}

body.blog-page .after-blog-content {
  padding: 20px 0px;
}

body.blog-page .more-articles {
  padding: 50px 0px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 120px;
  }

  .header-bio {
    padding: 0px 24px;
  }

  body.blog-page header {
    padding: 24px 0px 0px;
  }
}