main {
  padding: 100px 200px;
}

p {
  margin: 0px;
  padding: 1px 0px 15px 0px;
}

div.blog-container h1 {
  font-size: 3.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

div.blog-container h2 {
  font-size: 1.91rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container .blog-date {
  padding: 0px 5px 30px 5px;
  margin-bottom: 30px;
}

code {
  background-color: var(--code-background);
  padding: 0px 8px;
  border-radius: 4px;
  font-family: var(--font-family-primary);
}

pre > code {
  padding: 20px !important;
  word-spacing: 4px;
}

blockquote {
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}

hr {
  border-color: var(--code-background);
  opacity: 0.3;
}

@media (max-width: 768px) {
  main {
    padding: 40px 20px;
  }
}
